<ion-header [translucent]="true">
  <ion-toolbar text-left>
    <ion-title>
      Search Movie TMDB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="movies-flex" *ngIf="allMovies">
    <div class="movie" *ngFor="let movie of allMovies">
      <div class="poster">
        <img *ngIf="movie.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
        <img *ngIf="movie.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
      </div>
      <div class="title">{{ movie.title }}</div>
      <div class="year">{{ movie.release_date | date:'yyyy' }}</div>
      <div class="vote"><ion-icon name="star"></ion-icon><b>{{ movie.vote_average }}</b>/10</div>
    </div>
  </div>
</ion-content>